@charset "utf-8";
/* © 2016 eckblick GbR */
#scrollMe			{ width: 300%; height:200%; position:absolute; z-index:2; left: 0px;  top: 0px;}   
.scrollTransition	{	-webkit-transition: all 2.2s ease-in-out;
						-moz-transition: all 2.2s ease-in-out;
						-ms-transition: all 2.2s ease-in-out;
						-o-transition: all 2.2s ease-in-out;
						transition: all 2.2s ease-in-out;  }
section.horizontal 	{  width: 100%; height: 50% !important; display:block; float:none !important; z-index:2; }    
article.fullPage 	{  width: 33.33333333% !important; height: 100% !important; display:inline-block; float:left !important; position:relative; z-index:2;  }

#Page1Part1,#Page1Part2,#Page1Part3,#Page1Part4,
#Page2Part1,#Page2Part2,#Page2Part3,#Page2Part4,
#Page3Part1,#Page3Part2,#Page3Part3,#Page3Part4,
#Page4Part1,#Page4Part2,#Page4Part3,#Page4Part4		 	{ min-height:100%; min-height:100vh; color:rgba(255,255,255,1.00); z-index:2 !important; }  
#Page1Part2,#Page2Part1,#Page2Part3						{ background-image: url(pic/stripes.svg);  background-repeat:repeat; background-size:5px 5px; }
#Page1Part1,#Page1Part3,#Page2Part2						{ background-image: url(pic/nois.png); background-repeat:repeat; background-size:100px 100px; background-color:rgba(0,0,0,0.50); } 