@charset "utf-8";
/* © 2016 eckblick GbR */
body {
  overflow: hidden !important;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  height: 100%;
}
html,
body,
#page {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  min-width: 100vw;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header,
main,
footer,
nav,
figure,
article,
aside,
section {
  display: block;
}
nav,
header {
  position: fixed;
  top: 0px;
}
header,
main {
  width: 100%;
}
form {
  margin: 0;
  padding: 0;
}
div.captchaBlock {
  display: none;
}
textarea,
textarea:active,
textarea:focus,
input,
input:active,
input:focus,
button,
button:active,
button:focus {
  outline: none;
}
input,
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  vertical-align: middle;
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.33);
}
input:focus,
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.45);
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  line-height: 1.2;
}
button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
  line-height: 1.2;
}
button,
select,
option {
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}
button[type="submit"] {
  width: 100%;
  padding: 8px 0 8px 0;
  background: rgba(200, 200, 200, 1);
  color: rgba(0, 0, 0, 0.45);
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}
button[type="submit"]:hover {
  background: rgba(150, 150, 150, 1);
  color: rgba(0, 0, 0, 0.67);
  border: solid 1px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
label {
  display: block;
}

div.popup {
  width: 30%;
  left: 35%;
  line-height: 56px;
  font-size: 200%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 999;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.67);
  opacity: 0;
  -webkit-animation-name: mailinfo;
  -webkit-animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  animation-name: mailinfo;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
}
@-webkit-keyframes mailinfo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes mailinfo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes mailinfo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mailinfo {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

ul,
ol {
  margin-bottom: 24px;
}
ul,
ol {
  list-style: none outside none;
  margin-left: 48px;
}
li > ul,
li > ol {
  margin-bottom: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h7 a,
h8 a,
h9 a {
  display: inline;
  letter-spacing: 0.05em;
  font-weight: 300;
}
h1 {
  font-size: 400%;
  line-height: 1;
}
h2 {
  font-size: 220%;
  line-height: 1.13;
}
h3 {
  font-size: 160%;
  line-height: 1.5;
}
h4 {
  font-size: 120%;
  line-height: 1.25;
}
h5 {
  font-size: 110%;
  line-height: 1.6;
}
h6 {
  font-size: 105%;
  line-height: 2;
}
h7,
h8,
h9 {
  font-size: 100%;
  line-height: 2.33;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: 0;
}
a,
a:visited,
a:focus,
a:active {
  color: inherit;
}
a:hover {
  color: rgba(0, 0, 0, 1);
}
a img {
  opacity: 0.85;
  border: none;
  vertical-align: middle;
}
a img:hover {
  opacity: 1;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
img[width],
img[height] {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.clear {
  clear: both;
  content: "";
}

/* Pfeil-Navigation */
div.navigationElement {
  position: fixed;
  display: block;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: contain;
  background-position: center center;
  height: 48px;
  width: 48px;
  background-color: rgba(233, 180, 0, 0);
  -webkit-border-radius: 24px;
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: all 233ms ease-in-out;
  -moz-transition: all 233ms ease-in-out;
  -ms-transition: all 233ms ease-in-out;
  -o-transition: all 233ms ease-in-out;
  transition: all 233ms ease-in-out;
}
div.navigationElement:hover {
  background-color: rgba(233, 180, 0, 0.9);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
div.navigationElement.up {
  top: 4px;
  left: 50%;
  margin-left: -24px;
  background-image: url(pic/up.svg);
}
div.navigationElement.right {
  top: 50%;
  right: 4px;
  margin-top: -24px;
  background-image: url(pic/right.svg);
}
div.navigationElement.down {
  bottom: 4px;
  left: 50%;
  margin-left: -24px;
  background-image: url(pic/down.svg);
}
div.navigationElement.left {
  top: 50%;
  left: 4px;
  margin-top: -24px;
  background-image: url(pic/left.svg);
}

div.navigationElement.off {
  display: none;
}

div.targetHolder {
  display: block;
  width: 100%;
  height: 100%;
}
div.targetHolder.off {
  display: none;
}

/*  ------------ Navigation left ------------- */
nav,
nav.container {
  z-index: 9;
}
nav .container {
  height: 100vh;
  padding: 0;
  margin-left: -180px;
  width: 180px;
  background: rgba(255, 255, 255, 0.92);
}
nav .container {
  -webkit-transition: all 667ms ease-in-out;
  -moz-transition: all 667ms ease-in-out;
  -ms-transition: all 667ms ease-in-out;
  -o-transition: all 667ms ease-in-out;
  transition: all 667ms ease-in-out;
}
nav .container.open {
  margin-left: 0px;
}

div.mNav {
  display: block !important;
  position: absolute;
  top: 12px;
  width: 44px;
  height: 44px;
  right: -54px;
}

div#open,
div#close {
  display: inline-block;
  cursor: pointer;
  font-size: 100%;
  -webkit-transition: all 233ms ease-in-out;
  -moz-transition: all 233ms ease-in-out;
  -ms-transition: all 233ms ease-in-out;
  -o-transition: all 233ms ease-in-out;
  transition: all 233ms ease-in-out;
}

div#open {
  height: 42px;
  line-height: 42px;
  width: 112px;
  margin-left: -10px;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(233, 180, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0 8px;
}
div#open img {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 7px 10px 0 13px;
  -webkit-transition: all 233ms ease-in-out;
  -moz-transition: all 233ms ease-in-out;
  -ms-transition: all 233ms ease-in-out;
  -o-transition: all 233ms ease-in-out;
  transition: all 233ms ease-in-out;
}
div#open:hover {
  color: rgba(255, 255, 255, 0.67);
  background-color: rgba(0, 0, 0, 0);
  border: 1px dashed rgba(233, 180, 0, 1);
  width: 100px;
  margin-left: 0px;
  -webkit-border-radius: 0 22px 22px 0;
  border-radius: 0 22px 22px 0;
}
div#open:hover img {
  width: 32px;
  height: 32px;
  margin: 6px 8px 0 2px;
}

div#close {
  background-image: url(pic/menux.svg);
  border: 1px solid rgba(233, 180, 0, 0.1);
  border-radius: 22px;
  width: 42px;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 44px;
}
div#close:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(233, 180, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.hideElement {
  display: none;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
  float: none;
  clear: both;
  opacity: 0;
}

nav {
  width: auto;
  max-width: 33vw;
  position: fixed;
  float: left;
  top: 0px;
  height: 100vh;
}
nav ul {
  padding: 80px 0 0 0;
  margin: 0;
  text-align: left;
  display: block;
  width: 100%;
}
nav ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
nav ul li {
  list-style: none;
  float: none;
  width: 92%;
  margin-left: 4%;
  margin-top: 4px;
  display: block;
}
nav ul li a,
nav ul li span {
  text-decoration: none;
  display: block;
}
nav ul li:hover > ul {
  visibility: visible;
}
nav ul li a,
nav ul li span {
  -webkit-transition: all 367ms ease-in-out;
  -moz-transition: all 367ms ease-in-out;
  -ms-transition: all 367ms ease-in-out;
  -o-transition: all 367ms ease-in-out;
  transition: all 367ms ease-in-out;
}
nav ul li a,
nav ul li span {
  text-align: right;
  color: rgba(25, 25, 25, 1);
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0);
  font-family: "Abel", sans-serif;
}
nav ul li a:hover,
nav ul li span:hover {
  color: rgba(233, 180, 0, 1);
  background: rgba(0, 0, 0, 1);
  padding: 4px 20px;
}
nav ul li a.actual,
nav ul li span.actual {
  color: rgba(233, 180, 0, 1);
  background: rgba(0, 0, 0, 1);
  padding: 4px 20px;
  cursor: default;
}

/* Header Nav */
header,
header.container {
  z-index: 8;
}
header .container {
  position: fixed;
  float: right;
  top: 0px;
  width: 100%;
  border-bottom: 0.76px rgba(255, 255, 255, 0.33) solid;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 167ms ease-in-out;
  -moz-transition: all 167ms ease-in-out;
  -ms-transition: all 167ms ease-in-out;
  -o-transition: all 167ms ease-in-out;
  transition: all 167ms ease-in-out;
}
header .container:hover {
  background-color: rgba(0, 0, 0, 0.33);
}
header .container ul {
  padding: 8px 4px;
  margin: 0;
  text-align: center;
  display: block;
  width: 250px;
  float: right;
  border-left: 0.76px rgba(255, 255, 255, 0.33) solid;
}
header .container ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
header .container ul li {
  list-style: none;
  float: right;
  width: auto;
  margin: 4px;
  display: block;
}
header .container ul li a,
header .container ul li span {
  text-decoration: none;
  display: block;
  font-size: 86%;
  height: 42px;
  line-height: 42px;
}
header .container ul li:hover > ul {
  visibility: visible;
}
header .container ul li a,
header .container ul li span {
  -webkit-transition: all 233ms ease-in-out;
  -moz-transition: all 233ms ease-in-out;
  -ms-transition: all 233ms ease-in-out;
  -o-transition: all 233ms ease-in-out;
  transition: all 233ms ease-in-out;
}
header .container ul li a,
header .container ul li span {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(233, 180, 0, 1);
  padding: 0 8px;
}
header .container ul li a:hover,
header .container ul li span:hover {
  color: rgba(15, 15, 15, 1);
  background-color: rgba(233, 180, 0, 1);
  padding: 0 12px;
}
header .container ul li a.actual,
header .container ul li span.actual {
  color: rgba(15, 15, 15, 1);
  background-color: rgba(233, 180, 0, 1);
  padding: 0 12px;
  cursor: default;
}
header .container ul li a img,
header .container ul li span img {
  width: 24px;
  height: 24px;
  margin: 10px 8px 0 2px;
  float: left;
  display: block;
}

/* other template stuff: */
html {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 0.98em;
  background-image: url(pic/bga.jpg);
}

div#logo {
  min-width: 360px;
  width: 50vh;
  min-height: 360px;
  height: 50vh;
  position: relative;
  display: block;
  margin: 128px auto 0 auto;
  margin: 25vh auto 0 auto;
  background-image: url(pic/logo-bg-01.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  z-index: 3;

  -webkit-animation: logofader 3.33s ease-in-out;
  -moz-animation: logofader 3.33s ease-in-out;
  -o-animation: logofader 3.33s ease-in-out;
  -ms-animation: logofader 3.33s ease-in-out;
  animation: logofader 3.33s ease-in-out;
}

@-webkit-keyframes logofader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes logofader {
  0% {
    opacity: 0;
    background-size: 12px 12px;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}
@-o-keyframes logofader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logofader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div#logo-europe,
div#logo-africa,
div#logo-asia,
div#logo-north-america,
div#logo-south-america,
div#logo-font {
  position: absolute;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.77;
}

div#logo-europe {
  background-image: url(pic/logo-europe-01.svg);
}
div#logo-africa {
  background-image: url(pic/logo-africa-01.svg);
}
div#logo-asia {
  background-image: url(pic/logo-asia-01.svg);
}
div#logo-north-america {
  background-image: url(pic/logo-north-america-01.svg);
}
div#logo-south-america {
  background-image: url(pic/logo-south-america-01.svg);
}
div#logo-font {
  background-image: url(pic/logo-font-01.svg);
}

div#logo-europe {
  width: 20.4316666%;
  height: 23.3335%;
  top: 0%;
  left: 47.7716666%;
}
div#logo-africa {
  width: 22.0483333%;
  height: 25.7233333%;
  top: 23.335%;
  left: 41.1575%;
}
div#logo-asia {
  width: 17.8958333%;
  height: 29.655%;
  top: 8.1583333%;
  left: 59.2008333%;
}
div#logo-north-america {
  width: 26.7891666%;
  height: 25.6433333%;
  top: 0%;
  left: 23.1875%;
}
div#logo-south-america {
  width: 18.4475%;
  height: 25.43%;
  top: 28.4425%;
  left: 22.71%;
}
div#logo-font {
  width: 59.5316666%;
  height: 30.5466666%;
  bottom: 0%;
  left: 20.2108333%;
}

div#logo-europe {
  -webkit-animation: logofx1 3.2s ease-in-out;
  -moz-animation: logofx1 3.2s ease-in-out;
  -o-animation: logofx1 3.2s ease-in-out;
  -ms-animation: logofx1 3.2s ease-in-out;
  animation: logofx1 3.2s ease-in-out;
}

@-moz-keyframes logofx1 {
  0% {
    top: 33%;
    left: 50%;
    opacity: 0.33;
    width: 1.2%;
    height: 1.23%;
  }
  50% {
    top: -17%;
    left: 55%;
  }
  100% {
    top: 0%;
    left: 47.7716666%;
    opacity: 0.77;
    width: 20.4316666%;
    height: 23.3335%;
  }
}
@-webkit-keyframes logofx1 {
  0% {
    top: 33%;
    left: 50%;
    opacity: 0.33;
    width: 1.2%;
    height: 1.23%;
  }
  50% {
    top: -17%;
    left: 55%;
  }
  100% {
    top: 0%;
    left: 47.7716666%;
    opacity: 0.77;
    width: 20.4316666%;
    height: 23.3335%;
  }
}
@-o-keyframes logofx1 {
  0% {
    top: 33%;
    left: 50%;
    opacity: 0.33;
    width: 1.2%;
    height: 1.23%;
  }
  50% {
    top: -17%;
    left: 55%;
  }
  100% {
    top: 0%;
    left: 47.7716666%;
    opacity: 0.77;
    width: 20.4316666%;
    height: 23.3335%;
  }
}
@keyframes logofx1 {
  0% {
    top: 33%;
    left: 50%;
    opacity: 0.33;
    width: 1.2%;
    height: 1.23%;
  }
  50% {
    top: -17%;
    left: 55%;
  }
  100% {
    top: 0%;
    left: 47.7716666%;
    opacity: 0.77;
    width: 20.4316666%;
    height: 23.3335%;
  }
}

div#logo-africa {
  -webkit-animation: logofx2 3.2s ease-in-out;
  -moz-animation: logofx2 3.2s ease-in-out;
  -o-animation: logofx2 3.2s ease-in-out;
  -ms-animation: logofx2 3.2s ease-in-out;
  animation: logofx2 3.2s ease-in-out;
}

@-moz-keyframes logofx2 {
  0% {
    width: 1.22%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  59% {
    top: 45%;
    left: 56%;
  }
  100% {
    width: 22.0483333%;
    height: 25.7233333%;
    top: 23.335%;
    left: 41.1575%;
  }
}
@-webkit-keyframes logofx2 {
  0% {
    width: 1.22%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  59% {
    top: 45%;
    left: 56%;
  }
  100% {
    width: 22.0483333%;
    height: 25.7233333%;
    top: 23.335%;
    left: 41.1575%;
  }
}
@-o-keyframes logofx2 {
  0% {
    width: 1.22%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  59% {
    top: 45%;
    left: 56%;
  }
  100% {
    width: 22.0483333%;
    height: 25.7233333%;
    top: 23.335%;
    left: 41.1575%;
  }
}
@keyframes logofx2 {
  0% {
    width: 1.22%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  59% {
    top: 45%;
    left: 56%;
  }
  100% {
    width: 22.0483333%;
    height: 25.7233333%;
    top: 23.335%;
    left: 41.1575%;
  }
}

div#logo-asia {
  -webkit-animation: logofx3 3.2s ease-in-out;
  -moz-animation: logofx3 3.2s ease-in-out;
  -o-animation: logofx3 3.2s ease-in-out;
  -ms-animation: logofx3 3.2s ease-in-out;
  animation: logofx3 3.2s ease-in-out;
}

@-moz-keyframes logofx3 {
  0% {
    width: 1.18%;
    height: 2.97%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 2%;
    left: 80%;
  }
  100% {
    width: 17.8958333%;
    height: 29.655%;
    top: 8.1583333%;
    left: 59.2008333%;
    opacity: 0.77;
  }
}
@-webkit-keyframes logofx3 {
  0% {
    width: 1.18%;
    height: 2.97%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 2%;
    left: 80%;
  }
  100% {
    width: 17.8958333%;
    height: 29.655%;
    top: 8.1583333%;
    left: 59.2008333%;
    opacity: 0.77;
  }
}
@-o-keyframes logofx3 {
  0% {
    width: 1.18%;
    height: 2.97%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 2%;
    left: 80%;
  }
  100% {
    width: 17.8958333%;
    height: 29.655%;
    top: 8.1583333%;
    left: 59.2008333%;
    opacity: 0.77;
  }
}
@keyframes logofx3 {
  0% {
    width: 1.18%;
    height: 2.97%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 2%;
    left: 80%;
  }
  100% {
    width: 17.8958333%;
    height: 29.655%;
    top: 8.1583333%;
    left: 59.2008333%;
    opacity: 0.77;
  }
}

div#logo-north-america {
  -webkit-animation: logofx4 3.2s ease-in-out;
  -moz-animation: logofx4 3.2s ease-in-out;
  -o-animation: logofx4 3.2s ease-in-out;
  -ms-animation: logofx4 3.2s ease-in-out;
  animation: logofx4 3.2s ease-in-out;
}

@-moz-keyframes logofx4 {
  0% {
    width: 1.27%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 0%;
    left: 15%;
  }
  100% {
    width: 26.7891666%;
    height: 25.6433333%;
    top: 0%;
    left: 23.1875%;
    opacity: 0.77;
  }
}
@-webkit-keyframes logofx4 {
  0% {
    width: 1.27%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 0%;
    left: 15%;
  }
  100% {
    width: 26.7891666%;
    height: 25.6433333%;
    top: 0%;
    left: 23.1875%;
    opacity: 0.77;
  }
}
@-o-keyframes logofx4 {
  0% {
    width: 1.27%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 0%;
    left: 15%;
  }
  100% {
    width: 26.7891666%;
    height: 25.6433333%;
    top: 0%;
    left: 23.1875%;
    opacity: 0.77;
  }
}
@keyframes logofx4 {
  0% {
    width: 1.27%;
    height: 1.26%;
    top: 33%;
    left: 50%;
    opacity: 0.33;
  }
  50% {
    top: 0%;
    left: 15%;
  }
  100% {
    width: 26.7891666%;
    height: 25.6433333%;
    top: 0%;
    left: 23.1875%;
    opacity: 0.77;
  }
}

div#logo-south-america {
  -webkit-animation: logofx5 3.2s ease-in-out;
  -moz-animation: logofx5 3.2s ease-in-out;
  -o-animation: logofx5 3.2s ease-in-out;
  -ms-animation: logofx5 3.2s ease-in-out;
  animation: logofx5 3.2s ease-in-out;
}

@-moz-keyframes logofx5 {
  0% {
    top: 33%;
    left: 50%;
    width: 1.18%;
    height: 1.25%;
    opacity: 0.33;
  }
  50% {
    top: 36%;
    left: 15%;
  }
  100% {
    width: 18.4475%;
    height: 25.43%;
    top: 28.4425%;
    left: 22.71%;
    opacity: 0.77;
  }
}
@-webkit-keyframes logofx5 {
  0% {
    top: 33%;
    left: 50%;
    width: 1.18%;
    height: 1.25%;
    opacity: 0.33;
  }
  50% {
    top: 36%;
    left: 15%;
  }
  100% {
    width: 18.4475%;
    height: 25.43%;
    top: 28.4425%;
    left: 22.71%;
    opacity: 0.77;
  }
}
@-o-keyframes logofx5 {
  0% {
    top: 33%;
    left: 50%;
    width: 1.18%;
    height: 1.25%;
    opacity: 0.33;
  }
  50% {
    top: 36%;
    left: 15%;
  }
  100% {
    width: 18.4475%;
    height: 25.43%;
    top: 28.4425%;
    left: 22.71%;
    opacity: 0.77;
  }
}
@keyframes logofx5 {
  0% {
    top: 33%;
    left: 50%;
    width: 1.18%;
    height: 1.25%;
    opacity: 0.33;
  }
  50% {
    top: 36%;
    left: 15%;
  }
  100% {
    width: 18.4475%;
    height: 25.43%;
    top: 28.4425%;
    left: 22.71%;
    opacity: 0.77;
  }
}

footer {
  z-index: 8;
  position: fixed;
  bottom: 16px;
  right: -1px;
  color: rgba(200, 200, 200, 0.76);
  width: 160px;
  -webkit-transition: all 433ms ease-in-out;
  -moz-transition: all 433ms ease-in-out;
  -ms-transition: all 433ms ease-in-out;
  -o-transition: all 433ms ease-in-out;
  transition: all 433ms ease-in-out;
}

footer .container {
  height: 64px;
  float: right;
  width: 100%;
  padding: 16px 0 16px 90px;
  border: 0.76px rgba(255, 255, 255, 0.33) solid;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-border-radius: 48.76px 0 0 48.76px;
  border-radius: 48.76px 0 0 48.76px;
}

footer:hover {
  width: 330px;
}

footer .container {
  position: relative;
  overflow: hidden;
}
footer .container img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 14px 3px 0 0;
  float: left;
}
footer .container span.key {
  background-image: url(pic/login1.svg);
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 22px;
  top: 24px;
}
footer .container span.key.actual {
  background-image: url(pic/login3.svg);
}
footer .container span.key:hover {
  background-image: url(pic/login2.svg);
}

.mouseOver {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 0.92em;
    background-image: url(pic/bgat.jpg);
  }
  /* Logo Startseite */
  div#logo {
    min-width: 320px;
    width: 320px;
    min-height: 320px;
    height: 320px;
    margin: 160px auto 0 auto;
  }
  /* Header Nav */
  header .container ul {
    padding: 2px 4px;
    width: 250px;
  }
  header .container ul li {
    margin: 2px;
  }
  header .container ul li a,
  header .container ul li span {
    height: 32px;
    line-height: 32px;
  }
  header .container ul li a,
  header .container ul li span {
    padding: 0 9px;
  }
  header .container ul li a:hover,
  header .container ul li span:hover {
    padding: 0 12px;
  }
  header .container ul li a.actual,
  header .container ul li span.actual {
    padding: 0 9px;
  }
  header .container ul li a img,
  header .container ul li span img {
    margin: 5px 4px 0 0;
  }
  /* Side Nav */
  nav .container {
    margin-left: -110px;
    width: 110px;
  }
  nav .container {
    -webkit-transition: all 467ms ease-in-out;
    -moz-transition: all 467ms ease-in-out;
    -ms-transition: all 467ms ease-in-out;
    -o-transition: all 467ms ease-in-out;
    transition: all 467ms ease-in-out;
  }
  div.mNav {
    top: 4px;
    width: 32px;
    height: 32px;
    right: auto;
    left: 4px;
    position: fixed;
  }
  div#open {
    height: 32px;
    line-height: 32px;
    width: 86px;
    padding: 0;
  }
  div#open img {
    width: 30px;
    height: 30px;
    margin: 2px 10px 0 8px;
  }
  div#open:hover {
    border: 1px solid rgba(233, 180, 0, 1);
    width: 86px;
    -webkit-border-radius: 0 16px 17px 0;
    border-radius: 0 16px 17px 0;
  }
  div#open:hover img {
    width: 30px;
    height: 30px;
    margin: 2px 8px 0 2px;
  }
  div#close {
    border: 1px solid rgba(233, 180, 0, 0.1);
    border-radius: 17px;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-color: rgba(0, 0, 0, 0.67);
  }
  nav ul {
    padding: 67px 0 0 0;
  }
  nav ul li a:hover,
  nav ul li span:hover,
  nav ul li a.actual,
  nav ul li span.actual {
    padding: 4px 16px;
  }
  footer {
    bottom: 10px;
    width: 120px;
  }
  footer .container {
    height: 32px;
    float: right;
    width: 100%;
    padding: 8px 0 8px 54px;
    -webkit-border-radius: 24px 0 0 24px;
    border-radius: 24px 0 0 24px;
  }
  footer:hover {
    width: 120px;
  }
  footer .container img {
    width: 10px;
    height: 10px;
    margin: 3px 2px 0 0;
  }

  footer .container span.key {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 7px;
    top: 6px;
  }
  footer .container span.key.actual {
    background-image: url(pic/login3.svg);
  }
  footer .container span.key:hover {
    background-image: url(pic/login2.svg);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 0.86em;
    background-image: url(pic/bgam.jpg);
  }
  /* Logo Startseite */
  div#logo {
    margin: 140px auto 0 auto;
  }
  /* Header Nav */
  header .container ul {
    width: 190px;
  }
  header .container ul li a,
  header .container ul li span {
    padding: 0 5px;
  }
  header .container ul li a:hover,
  header .container ul li span:hover {
    padding: 0 9px;
  }
  header .container ul li a.actual,
  header .container ul li span.actual {
    padding: 0 5px;
  }
  nav .container {
    background: rgba(255, 255, 255, 1);
  }
  /* Footer */
  footer {
    bottom: 2px;
    right: 0px;
    width: 100%;
  }
  footer:hover {
    width: 100%;
  }
  footer .container {
    height: 28px;
    padding: 0;
    line-height: 28px;
    text-align: right;
    border: 0.76px rgba(255, 255, 255, 0.33) solid;
    background-color: rgba(0, 0, 0, 0.45);
    width: 98%;
    padding-right: 2%;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  footer .container img {
    display: none;
  }
  footer .container span.key {
    width: 24px;
    height: 24px;
    left: 8px;
    top: 2px;
  }

  /* Pfeil-Navigation */
  div.navigationElement {
    height: 32px;
    width: 32px;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  div.navigationElement:hover {
    background-color: rgba(233, 180, 0, 0.9);
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  div.navigationElement.up {
    top: 48px;
    left: 50%;
    margin-left: -16px;
    background-position: top;
    height: 20px;
    width: 32px;
  }
  div.navigationElement.right {
    top: 50%;
    right: 4px;
    margin-top: -16px;
    background-position: right;
    height: 32px;
    width: 20px;
  }
  div.navigationElement.down {
    bottom: 8px;
    left: 50%;
    margin-left: -16px;
    background-position: bottom;
    height: 20px;
    width: 32px;
  }
  div.navigationElement.left {
    top: 50%;
    left: 4px;
    margin-top: -16px;
    background-position: left;
    height: 32px;
    width: 20px;
  }
}

@media only screen and (max-width: 480px) {
  div#logo {
    min-width: 240px;
    width: 240px;
    min-height: 240px;
    height: 240px;
    margin: 145px auto 0 auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  div#logo {
    min-width: 240px;
    width: 240px;
    min-height: 240px;
    height: 240px;
    margin: 170px auto 0 auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  div#logo {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
    margin: 68px auto 0 auto;
  }
}
